/*---------------menu-styles.scss__by__Alex-TREMOUREUX__-----------------*/
/*Variables*/
/*Mixin*/
/*------mini reset--------*/
* {
  margin: 0rem;
  padding: 0rem;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

.header {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__back {
  position: absolute;
  left: 5%;
}

.wrapper-title {
  max-width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-title--alafr {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--lanote {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--lapalette {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--ledelice {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title__content {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Shrikhand', cursive;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

.wrapper-title__content > .favorite {
  margin-left: 25px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-title__content > .favorite .fas {
  position: absolute;
  opacity: 0;
  -webkit-transition: color .6s linear;
  transition: color .6s linear;
  color: transparent;
}

.wrapper-title__content > .favorite:hover .fas {
  opacity: 1;
  color: #9356DC;
}

@media screen and (min-width: 768px) {
  .wrapper-title__content {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #d5f3eb;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-title {
    width: 60%;
    height: 150px;
    margin: auto;
    background: transparent;
  }
}

.menu {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 60%;
    padding: 10px 0px;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.menu__title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .menu__title {
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90px;
    padding: 0px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #c1ede2;
  }
}

.menu__dish-list {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 8px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 8px 1px #e7e7e7;
}

.menu__dish-list > div {
  margin: 0px 15px;
}

@media screen and (min-width: 768px) {
  .menu__dish-list {
    width: 95%;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.menu__dish-list .coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dish-list .price {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.menu__dish-list .check {
  background-color: green;
  width: 0px;
  height: 60px;
  display: block;
}

.menu__dish-list .price:hover {
  -webkit-transform: translate(-60px, 0px);
          transform: translate(-60px, 0px);
}

.menu__dish-list .price:hover .check {
  width: 60px;
  -webkit-transform: translate(-60px, 0px);
          transform: translate(-60px, 0px);
}

/*--------------------Footer--------------------*/
.footer {
  width: 100%;
  height: 180px;
  background-color: #353535;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 120px;
  }
}

.footer__title {
  font-size: 1.2rem;
  padding: 20px 30px 5px;
  font-family: 'Shrikhand', cursive;
}

.footer__link > li {
  margin: 5px 30px;
}

@media screen and (min-width: 1024px) {
  .footer__link > li {
    width: 20%;
  }
}

.footer__link > li > i {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

.footer__link > li > a {
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

/*------Global------*/
body {
  max-width: 2000px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*______________----------------Pages Restaurants----------------_______________*/
.main {
  height: 1200px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main--alafr {
    background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--lanote {
    background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--lapalette {
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--ledelice {
    background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
}

main > .call-to-action {
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 65%;
  max-width: 300px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -webkit-box-shadow: #9356DC 2px 2px 8px 2px;
          box-shadow: #9356DC 2px 2px 8px 2px;
}

main > .call-to-action:hover {
  -webkit-box-shadow: #9356DC 1px 1px 20px 2px;
          box-shadow: #9356DC 1px 1px 20px 2px;
  color: #99E2D0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
}

@media screen and (min-width: 768px) {
  main > .call-to-action {
    position: -webkit-sticky;
    position: sticky;
    bottom: 45px;
  }
}

.vignets {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: transition;
          animation-name: transition;
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=menu-styles.css.map */