/*---------------menu-styles.scss__by__Alex-TREMOUREUX__-----------------*/
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./layout/mini-reset";
@import "./layout/menu-header";
@import "./layout/wrapper-title";
@import "./layout/menu";
@import "./layout/footer";
/*------Global------*/
body{
    max-width: 2000px;
    margin: auto;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*______________----------------Pages Restaurants----------------_______________*/
.main{
    height: 1200px;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    @media screen and (min-width:768px) {
        @include background-image(alafr);
    }
}
main>.call-to-action{
    margin-bottom: 30px;
    align-self: center;
    @include call-to-action;
    @media screen and (min-width:768px) {
        position: sticky;
        bottom: 45px;
    }
}


.vignets {
    animation-duration: 2s;
  animation-name: transition;
}
@keyframes transition {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes transition { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}