/*---------------menu-styles.scss__by__Alex-TREMOUREUX__-----------------*/
/*Variables*/
/*Mixin*/
/*------mini reset--------*/
* {
  margin: 0rem;
  padding: 0rem;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

.header {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__back {
  position: absolute;
  left: 5%;
}

.wrapper-title {
  max-width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-title--alafr {
  background-image: url("../images/restaurants/toa-heftiba.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--lanote {
  background-image: url("../images/restaurants/stil.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--lapalette {
  background-image: url("../images/restaurants/jay-wennington.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title--ledelice {
  background-image: url("../images/restaurants/louis-hansel.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-title__content {
  max-height: 80px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Shrikhand', cursive;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  padding: 0px 10px;
}

.wrapper-title__content > .favorite {
  margin-left: 15px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-title__content > .favorite .fas {
  position: absolute;
  opacity: 0;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  color: transparent;
}

.wrapper-title__content > .favorite .far {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.wrapper-title__content > .favorite:hover .fas {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.wrapper-title__content > .favorite:hover .far {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .wrapper-title__content {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #d5f3eb;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-title {
    width: 60%;
    height: 150px;
    margin: auto;
    background: transparent;
  }
}

.menu {
  width: 95%;
  max-width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 60%;
    max-width: 800px;
    padding: 10px 0px;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.menu__title {
  width: 40px;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .menu__title {
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90px;
    padding: 0px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #c1ede2;
  }
}

.menu__dish-list {
  width: 100%;
  height: 70px;
  max-height: 80px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 8px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 8px 1px #e7e7e7;
  cursor: pointer;
  overflow: hidden;
  font-size: 0.9rem;
}

.menu__dish-list:hover > .price {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__dish-list:hover > .price > span > i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__dish-list:hover > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__dish-list:active {
  background-color: #eaeaea;
}

@media screen and (min-width: 768px) {
  .menu__dish-list {
    width: 95%;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@media screen and (min-width: 300px) {
  .menu__dish-list {
    font-size: 1rem;
  }
}

.menu__dish-list__content {
  margin-left: 15px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__dish-list__content h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__dish-list__content p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__dish-list .price {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu__dish-list .price p {
  width: 50%;
  text-align: center;
  padding: 0px 10px;
}

.menu__dish-list .price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 70px;
  color: white;
  font-size: 1.5rem;
  background-color: #99E2D0;
  padding: 0px 10px;
}

.menu__dish-list .price span i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

/*--------------------Footer--------------------*/
.footer {
  width: 100%;
  height: 180px;
  background-color: #353535;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 120px;
  }
}

.footer__title {
  font-size: 1.2rem;
  padding: 20px 30px 5px;
  font-family: 'Shrikhand', cursive;
}

.footer__link > li {
  margin: 5px 30px;
}

@media screen and (min-width: 1024px) {
  .footer__link > li {
    width: 20%;
  }
}

.footer__link > li > i {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

.footer__link > li > a {
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

/*------Global------*/
body {
  max-width: 2000px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*______________----------------Pages Restaurants----------------_______________*/
.main {
  height: 1200px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main--alafr {
    background-image: url("../images/restaurants/toa-heftiba.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--lanote {
    background-image: url("../images/restaurants/stil.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--lapalette {
    background-image: url("../images/restaurants/jay-wennington.jpg");
    background-size: cover;
    background-position: center;
  }
  .main--ledelice {
    background-image: url("../images/restaurants/louis-hansel.jpg");
    background-size: cover;
    background-position: center;
  }
}

main > .call-to-action {
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 65%;
  max-width: 300px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -webkit-box-shadow: #9356DC 2px 2px 8px 2px;
          box-shadow: #9356DC 2px 2px 8px 2px;
}

main > .call-to-action:hover {
  -webkit-box-shadow: #9356DC 1px 1px 20px 2px;
          box-shadow: #9356DC 1px 1px 20px 2px;
  color: #99E2D0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
}

@media screen and (min-width: 768px) {
  main > .call-to-action {
    position: -webkit-sticky;
    position: sticky;
    bottom: 45px;
  }
}

.vignets {
  -webkit-animation: transition 2s linear 1 normal both;
          animation: transition 2s linear 1 normal both;
}

.vignets--1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.vignets--2 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.vignets--3 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.vignets__list {
  -webkit-animation: transition .3s linear 1 normal both;
          animation: transition .3s linear 1 normal both;
}

.vignets__list--1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.vignets__list--2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.vignets__list--3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.vignets__list--4 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.vignets__list--5 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.vignets__list--6 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.vignets__list--7 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.vignets__list--8 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.vignets__list--9 {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.vignets__list--10 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes transition {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=menu-styles.css.map */