/*---------------styles.scss__by__Alex-TREMOUREUX__-----------------/*
/*Variables*/
/*------mini reset--------*/
* {
  margin: 0rem;
  padding: 0rem;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

/*------Global------*/
body {
  max-width: 2000px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.call-to-action {
  width: 65%;
  max-width: 300px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

/*----------Header-----------*/
.logo {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-map {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #eaeaea;
  border-top: solid 2px #d5d5d5;
}

.search-map input {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-left: 20px;
  background-color: #eaeaea;
}

.search-map input::-webkit-input-placeholder {
  text-align: left;
}

.search-map input:-ms-input-placeholder {
  text-align: left;
}

.search-map input::-ms-input-placeholder {
  text-align: left;
}

.search-map input::placeholder {
  text-align: left;
}

.search-map input:focus {
  outline-style: none;
}

.search-map i {
  margin-left: 110px;
}

.header-content {
  width: 100%;
  height: 280px;
  background-color: #f6f6f6;
  margin: auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-content h2 {
  width: 70%;
}

.header-content p {
  font-size: 1.2rem;
  width: 90%;
}

/*---------------Aside-Operation-----------------*/
.operation {
  width: 90%;
  height: 350px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.operation__list li {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 7px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 7px 1px #e7e7e7;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operation__list li > p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
}

.operation__list li > i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  left: 10%;
  font-size: 1.2rem;
  color: #808080;
}

.operation__list li > b {
  max-width: 60%;
  text-align: center;
}

.operation__list--active .active {
  color: #9356DC;
}

.operation .--background {
  background-color: #f5edff;
}

@media screen and (min-width: 768px) {
  .operation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media screen and (min-width: 768px) {
  .operation {
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

/*-------------------Main----------------------*/
main {
  height: 1400px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 800px;
  }
}

main > .title {
  padding: 40px 0px 20px 5%;
}

@media screen and (min-width: 768px) {
  main > .title {
    text-align: center;
    width: 100%;
    padding: 40px;
  }
}

.card {
  width: 90%;
  height: 20%;
  margin: 0px auto 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 7px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 7px 1px #e7e7e7;
}

.card__link {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card__link__image {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__link__content {
  height: 30%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
}

.card__link__content > h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

.card__link__favorite {
  font-size: 1.4rem;
  width: 25%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__link__favorite:hover {
  color: #9356DC;
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
    height: 35%;
  }
}

/*--------------------Footer--------------------*/
.footer {
  width: 100%;
  height: 250px;
  background-color: #353535;
  color: #ffffff;
}

.footer__title {
  font-size: 1.2rem;
  margin: 0em 2em 1.5em;
  padding-top: 20px;
  font-family: 'Shrikhand', cursive;
}

.footer__link > li {
  margin: 0.5em 2em;
}

.footer__link > li > i {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

.footer__link > li > a {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */