/*---------------styles.scss__by__Alex-TREMOUREUX__-----------------*/

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./layout/mini-reset";
@import "./layout/loader-spinner";
@import "./layout/home-header";
@import "./layout/operations";
@import "./layout/card";
@import "./layout/footer";


/*------Global------*/
body{
    max-width: 2000px;
    margin: auto;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    @media screen and (min-width:1024px) {
        display: flex;
        flex-flow: row-reverse wrap;
        height: 1600px;
        background-color: $color-background;
        align-content: space-between;
    }
}
.title {
    font-size: 1.6rem;
    font-weight: bold;
}
.call-to-action{
    @include call-to-action ;
}
/*-------------------Main----------------------*/
main{
    height: 1400px;
    margin-top: 25px;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (min-width:768px) {
        flex-flow: row wrap;
        height: 800px;
    }
    @media screen and (min-width:1024px) {
        width: 65%;
        height: 1200px;
        flex-flow: column nowrap;
        position: relative;
        margin-top: 254px;
    }
}
main > .title{
    padding: 40px 0px 20px 5%;
    @media screen and (min-width:768px) {
        text-align: center;
        width: 100%;
        padding: 40px;
    }
}
