@charset "UTF-8";
/*---------------styles.scss__by__Alex-TREMOUREUX__-----------------*/
/*Variables*/
/*Mixin*/
/*------mini reset--------*/
* {
  margin: 0rem;
  padding: 0rem;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

/*---------___________-------////!!!-spinner-!!!\\\\-------________-----------*/
.container-spinner {
  font-family: 'Shrikhand', cursive;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #9356DC;
  -webkit-animation: spinner 2s linear 1 normal forwards;
          animation: spinner 2s linear 1 normal forwards;
}

.container-spinner > p {
  position: fixed;
  top: 25%;
  font-size: 4rem;
  color: #99E2D0;
}

@-webkit-keyframes spinner {
  0% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
    z-index: 20;
  }
  60% {
    opacity: 1;
  }
  99% {
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}

@keyframes spinner {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    z-index: 20;
  }
  60% {
    opacity: 1;
  }
  99% {
    z-index: 20;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}

.loader-spinner {
  color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.loader-spinner:after {
  -webkit-animation: loading .8s linear infinite;
          animation: loading .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@-webkit-keyframes loading {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

@keyframes loading {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

/*----------Header-----------*/
@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    max-width: 2000px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
    height: 255px;
    width: 100%;
    background: conic-gradient(from 300deg at 0% 60%, #9356dc, #9657dc, #9f58dc, #ab5adc, #b95edc, #c862dc, #d666db, #e46cdb, #ef71db, #f775da, #fd78da, #ff79da);
  }
}

.logo {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 20%;
    height: 250px;
    text-align: left;
    background: transparent;
  }
}

.search-map {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #eaeaea;
  border-top: solid 2px #d5d5d5;
}

@media screen and (min-width: 1024px) {
  .search-map {
    border-top: none;
    width: 80%;
    background-color: transparent;
  }
}

.search-map input {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 10px;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .search-map input {
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    text-align: center;
  }
}

.search-map input::-webkit-input-placeholder {
  text-align: left;
}

.search-map input:-ms-input-placeholder {
  text-align: left;
}

.search-map input::-ms-input-placeholder {
  text-align: left;
}

.search-map input::placeholder {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .search-map input::-webkit-input-placeholder {
    text-align: center;
  }
  .search-map input:-ms-input-placeholder {
    text-align: center;
  }
  .search-map input::-ms-input-placeholder {
    text-align: center;
  }
  .search-map input::placeholder {
    text-align: center;
  }
}

.search-map input:focus {
  outline-style: none;
}

.search-map i {
  margin-left: 100px;
}

@media screen and (min-width: 1024px) {
  .search-map i {
    position: absolute;
    left: 40%;
  }
}

.header-content {
  width: 100%;
  height: 280px;
  background-color: #f6f6f6;
  margin: auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .header-content {
    width: 80%;
    height: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: transparent;
  }
}

.header-content h2 {
  width: 70%;
}

.header-content p {
  font-size: 1.2rem;
  width: 90%;
}

/*---------------Aside-Operation-----------------*/
.operation {
  width: 90%;
  height: 350px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.operation__list li {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 8px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 8px 1px #e7e7e7;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .operation__list li {
    border-radius: 15px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    -webkit-box-shadow: 9px 9px 17px #a5a5a5, -9px -9px 17px #ffffff;
            box-shadow: 9px 9px 17px #a5a5a5, -9px -9px 17px #ffffff;
  }
}

.operation__list li > p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
}

.operation__list li > i {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  left: 10%;
  font-size: 1.2rem;
  color: #808080;
}

.operation__list li > b {
  max-width: 60%;
  text-align: center;
}

.operation__list--active .active {
  color: #9356DC;
}

.operation .--background {
  background-color: #f5edff;
}

@media screen and (min-width: 768px) {
  .operation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .operation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media screen and (min-width: 768px) {
  .operation {
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .operation {
    position: -webkit-sticky;
    position: sticky;
    top: 40%;
    right: 10%;
    width: 20%;
  }
}

.card {
  width: 90%;
  height: 20%;
  margin: 0px auto 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 1px #e7e7e7;
  -webkit-box-shadow: 0px 5px 8px 1px #e7e7e7;
  -moz-box-shadow: 0px 5px 8px 1px #e7e7e7;
}

.card__link {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .card__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 10px;
    border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #dddddd);
    -webkit-box-shadow: 9px 9px 17px #a5a5a5, -9px -9px 17px #ffffff;
            box-shadow: 9px 9px 17px #a5a5a5, -9px -9px 17px #ffffff;
  }
  .card__link:hover {
    border-radius: 15px;
    background: #f6f6f6;
    -webkit-box-shadow: inset 9px 9px 17px #a5a5a5, inset -9px -9px 17px #ffffff;
            box-shadow: inset 9px 9px 17px #a5a5a5, inset -9px -9px 17px #ffffff;
  }
}

.card__link__image {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .card__link__image {
    width: 60%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
  }
}

.card__link__content {
  height: 30%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
}

.card__link__content > h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .card__link__content {
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
    width: 30%;
    height: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card__link__favorite {
  font-size: 1.4rem;
  width: 12%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__link__favorite .fas {
  position: absolute;
  opacity: 0;
  -webkit-transition: color 0.6s linear;
  transition: color 0.6s linear;
  color: transparent;
}

.card__link__favorite:hover .far {
  opacity: 0;
  color: #9356DC;
}

.card__link__favorite:hover .fas {
  opacity: 1;
  color: #9356DC;
}

@media screen and (min-width: 1024px) {
  .card__link__favorite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30%;
    height: 30%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 40%;
    height: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 80%;
    height: 20%;
  }
}

/*--------------------Footer--------------------*/
.footer {
  width: 100%;
  height: 180px;
  background-color: #353535;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 120px;
  }
}

.footer__title {
  font-size: 1.2rem;
  padding: 20px 30px 5px;
  font-family: 'Shrikhand', cursive;
}

.footer__link > li {
  margin: 5px 30px;
}

@media screen and (min-width: 1024px) {
  .footer__link > li {
    width: 20%;
  }
}

.footer__link > li > i {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

.footer__link > li > a {
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

/*------Global------*/
body {
  max-width: 2000px;
  margin: auto;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
    height: 1600px;
    background-color: #f6f6f6;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
}

.call-to-action {
  width: 65%;
  max-width: 300px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -webkit-box-shadow: #9356DC 2px 2px 8px 2px;
          box-shadow: #9356DC 2px 2px 8px 2px;
}

.call-to-action:hover {
  -webkit-box-shadow: #9356DC 1px 1px 20px 2px;
          box-shadow: #9356DC 1px 1px 20px 2px;
  color: #99E2D0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
}

/*-------------------Main----------------------*/
main {
  height: 1400px;
  margin-top: 25px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 800px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 65%;
    height: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: relative;
    margin-top: 254px;
  }
}

main > .title {
  padding: 40px 0px 20px 5%;
}

@media screen and (min-width: 768px) {
  main > .title {
    text-align: center;
    width: 100%;
    padding: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */