/*------Header des pages menu des différents restaurants------*/
.header{
    position: relative;
    height: 60px;
    @include flex-center;
    &__back{
        position: absolute;
        left: 5%;
    }
}