.menu{
    width: 95%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (min-width:768px){
        width: 60%;
        max-width: 800px;
        padding: 10px 0px;
        @include container-shadow;
    }

    &__title{
        width: 40px;
        text-transform: uppercase;
        font-size: 1rem;
        padding-bottom: 5px;
        border-bottom: 3px solid $color-tertiary;
        margin-bottom: 15px;

        @media screen and (min-width:768px) {
            @include container-shadow;
            width: 90px;
            padding: 0px;
            text-align: center;
            align-self: center;
            background-color: lighten($color-tertiary, $amount: 10%);
        }
    }
    &__dish-list{
        width: 100%;
        height: 70px;
        max-height: 80px;
        border-radius: 15px;
        background-color: #ffffff;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include button-shadow;
        @media screen and (min-width:768px) {
            width: 95%;
            margin: 5px auto;
            @include container-shadow;
        }
        overflow: hidden;
        &__content{
            margin-left: 15px;
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            &:hover {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            & h4{
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover + .price {
                transform: translateX(0%);
                & > span > i {
                    transform: rotate(0deg);
                }
            }
        }
        .price{
            height: 100%;
            width: 30%;
            @include flex-center;
            flex-direction: row;
            flex-wrap: nowrap;
            & p {
                width: 50%;
                text-align: center;
                padding: 0px 10px;
            }
            & span {
                @include flex-center;
                width: 50%;
                height: 70px;
                color: white;
                font-size: 1.5rem;
                background-color: $color-tertiary;
                padding: 0px 10px;
                & i {
                    transform: rotate(-360deg);
                    transition: transform .5s ease-in-out;
                }
            }
            transform: translateX(50%);   
            transition: all .4s;
        }
    }
}
