/*Mixin*/
@mixin container-shadow {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@mixin button-shadow {
    box-shadow: 0px 5px 8px 1px #e7e7e7;
    -webkit-box-shadow: 0px 5px 8px 1px #e7e7e7;
    -moz-box-shadow: 0px 5px 8px 1px #e7e7e7;
}
@mixin call-to-action {
    width: 65%;
    max-width: 300px;
    height: 55px;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    justify-self: center;
}
@mixin background-image($img){
    background-image: url($img);
    background-size: cover;
    background-position: center;
}
$menu: (
    "alafr": '/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg',
    "lanote": 'images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg',
    "lapalette": '/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg',
    "ledelice": '/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg'
);
